* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

header::before {
  content: '';
  width: 100%;
  height: 436px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #535971;
}

.wrapper {
  width: 750px;
  margin: auto;
}

header {
  width: 416px;

  margin-top: 138px;
}

h1 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: white;

  margin-bottom: 18px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 58px;
  color: #fafafc;
}

form {
  background-color: #fafafc;
  min-height: 1084px;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 64px;
}

fieldset {
  border: none;
}

/*.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}*/

legend {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #535971;

  padding-bottom: 16px;
  margin-bottom: 36px;
  border-bottom: 1px solid #eeeef7;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
}

.input-wrapper label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  margin-bottom: 8px;
  padding-right: 8px;
}

.input-wrapper span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
  margin-bottom: 9px;
}

input {
  background: #fafafc;
  border: none;
  width: 100%;
  height: 56px;

  padding: 0 24px;
  font-size: 16px;

  line-height: 26px;
  color: #6c6a71;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.p {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;

  font-size: 20px;
  line-height: 34px;
  color: #535971;
  margin-bottom: 10px;
}

.col-2 {
  display: flex;
  gap: 22px;
}

.col-3 {
  display: flex;
  gap: 10px;
}

#data {
  width: 300px;
  margin-right: 22px;
}

footer {
  height: 160px;
  background-color: #535971;

  align-items: center;
  justify-content: center;

  display: flex; /* para esticar elementos*/
  flex-direction: column; /* para colocar na columna*/
  padding: 40px 64px;
  margin-bottom: 100px;
  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 8px 8px;
}

button {
  width: 608px;
  height: 55.65px;
  background: #ff5374;
  border-radius: 20px;
  border: none;

  font-family: 'Staatliches';
  font-style: normal;

  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #ffffff;
}

footer .button:hover {
  background: #d41339fa;;
}